<%- include('partials/header',{title:"Shop",page:"Shop",id:id}) %>
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900"></h2>
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <%if(role==="admin"){%>
        <div class="group relative mt-25">
        <a href="products/addNewProduct" class="w-full text-9xl rounded-md bg-gray-200 ml-20 group-hover:opacity-75">➕</a>
        <div class="mt-5 flex justify-between items-center ml-20">
          <div>
            <h3 class="text-gray-700 text-center">
              <a href="products/addNewProduct">Add New Product</a>
            </h3>
          </div>
        </div>
      </div>  
      <%}%>
      
      <%items.toReversed().forEach((item)=>{%>
        <div class="group relative rounded-lg bg-<%=item.bgcolor%> overflow-hidden">
        <img src=<%=item.image%> alt="Front of men&#039;s Basic Tee in black." class="aspect-square overflow-hidden w-full rounded-md group-hover:opacity-75 lg:aspect-auto lg:h-80" />
        <div class="mt-4 flex justify-between bg-<%=item.panelcolor%> p-1">
          <div>
            <h3 class="text-<%=item.textcolor%>">
                <%=item.name%>
            </h3>
            <%if(role==='admin'){%>
              <a href="products/delete/<%=item._id%>" class="text-red-600 block">Delete</a>
            <a href="products/edit/<%=item._id%>" class="mt-1 text-blue-500">Edit</a>
            <%}else{%>
              <a href="users/addToCart/<%=item._id%>" class="mt-1 px-2 py-1 rounded-xl font-semibold text-blue-500 bg-gradient-to-r from-teal-100 to-indigo-100 shadow-md">Add To Cart</a>
            <%}%>
            
          </div>
          <div>
            <h3 class="text-sm text-<%=item.textcolor%>">
              <%if(item.discount==0){%>
                <p class="text-sm font-medium0">$<%=item.price%></p>
              <%}else{%>
                <p class="text-sm font-medium line-through">$<%=item.price%></p>
                <p class="text-sm font-medium">$<%=item.price-item.discount%></p>
              <%}%>
              </h3>
          </div>
        </div>
      </div>
      <%});%>
      
      
    </div>
    
  </div>


<%- include('partials/footer') %>