<%- include('partials/header',{title:"Shop",page:"Shop",id:id}) %>
 
    <!-- <div class="bg-white"> -->
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Filter:<%=items.length%></h2>
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <%if(role==="admin"){%>
        <div class="group relative mt-25">
        <a href="products/addNewProduct" class="w-full text-9xl rounded-md bg-gray-200 ml-20 group-hover:opacity-75">➕</a>
        <div class="mt-5 flex justify-between items-center ml-20">
          <div>
            <h3 class="text-gray-700 text-center">
              <a href="products/addNewProduct">Add New Product</a>
            </h3>
          </div>
        </div>
      </div>  
      <%}%>
      
      <%items.toReversed().forEach((item)=>{%>
        <div class="group relative rounded-lg bg-<%=item.bgcolor%> overflow-hidden">
        <img src=<%=item.image%> alt="Front of men&#039;s Basic Tee in black." class="aspect-square overflow-hidden w-full rounded-md group-hover:opacity-75 lg:aspect-auto lg:h-80" />
        <div class="mt-4 flex justify-between bg-<%=item.panelcolor%>">
          <div>
            <h3 class="text-<%=item.textcolor%>">
                <%=item.name%>
            </h3>
            <%if(role==='admin'){%>
              <a href="products/delete/<%=item._id%>" class="text-red-600 block">Delete</a>
            <a href="products/edit/<%=item._id%>" class="mt-1 text-blue-500">Edit</a>
            <%}else{%>
              <a href="users/addToCart/<%=item._id%>" class="mt-1 text-blue-500">Cart</a>
            <%}%>
            
          </div>
          <div>
            <h3 class="text-sm text-<%=item.textcolor%>">
              <%if(item.discount==0){%>
                <p class="text-sm font-medium0">$<%=item.price%></p>
              <%}else{%>
                <p class="text-sm font-medium line-through">$<%=item.price%></p>
                <p class="text-sm font-medium">$<%=item.price-item.discount%></p>
              <%}%>
              </h3>
          </div>
        </div>
      </div>
      <%});%>
      <div class="group relative">
        <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80" />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Basic Tee
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Black</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>
      <div class="group relative">
        <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-02.jpg" alt="Front of men&#039;s Basic Tee in white." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80" />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Basic Tee
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Aspen White</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>
      <div class="group relative">
        <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-03.jpg" alt="Front of men&#039;s Basic Tee in dark gray." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80" />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Basic Tee
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Charcoal</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>
      <div class="group relative">
        <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-04.jpg" alt="Front of men&#039;s Artwork Tee in peach with white and brown dots forming an isometric cube." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80" />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Artwork Tee
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Iso Dots</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>
      <div class="group relative">
        <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-04.jpg" alt="Front of men&#039;s Artwork Tee in peach with white and brown dots forming an isometric cube." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80" />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Artwork Tee
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Iso Dots</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>
      <div class="group relative">
        <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-04.jpg" alt="Front of men&#039;s Artwork Tee in peach with white and brown dots forming an isometric cube." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80" />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Artwork Tee
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Iso Dots</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>
      
      
    </div>
    
  </div>
<!-- </div> -->


<%- include('partials/footer') %>